services:
  # Backend Service
  - type: web
    name: savaj-seeds-server
    env: node
    root: server
    buildCommand: npm install && npm run build
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 10000
      - key: MONGO_URI
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: ADMIN_EMAIL
        sync: false
      - key: ADMIN_PASSWORD
        sync: false
      - key: CLIENT_URL
        fromService: savaj-seeds-client
        type: web
        property: url

  # Frontend Service
  - type: web
    name: savaj-seeds-client
    env: node
    root: client
    buildCommand: npm install && npm run build
    startCommand: npm start
    envVars:
      - key: NEXT_PUBLIC_API_URL
        fromService: savaj-seeds-server
        type: web
        property: url
